@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

.App {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  color: blueviolet;
  background: rgb(14, 13, 13);
  max-width: 600px;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  opacity: 0.9;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

body {
  display: block;
  background-image: url("/numbers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
